html, body {
    background: #ecf0f3;
}

body {
    border-top: 12px solid #7637f9;
}

* {
    font-family: BiotifMedium;
}

.BiotifMedium {
    font-family: BiotifMedium;
}

.BiotifBold {
    font-family: BiotifBold;
}

.BiotifExtraBold {
    font-family: BiotifExtraBold;
}

* {
    color: #4f4f58;
}

h1, h2, h3, h4, h5, strong {
    color: #12123a;
}

p, p a, li, li a, p strong, p span, li strong {
    font-family: 'freight-text-pro', serif;
}

a {
    color: #1f8df0;
    position: relative;
    width: max-content;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #1f8df0;
    bottom: 0px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
transform-origin: left;
transform: scaleX(1);
}

body nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: white;
    width: 300px;
    height: 100vh;
    border-top: 12px solid #7637f9;
    top: 0;
}

body main {
    width: 760px;
    left: 400px;
    position: absolute;
    padding-top: 60px;
}

nav ul {
    list-style: none;
}

nav ul ul {
    margin-left: 20px;
}


ul.spaced-list li {
    margin-bottom: 1rem;
}

ul.arrow-bullet {
    list-style-image: url(../../imgs/arrow-right.svg);
}

main div#cover {
    display: flex;
    gap: 40px;
}